extends ../layout

block content
    div.container
        h1= title
        p Welcome to #{title} #{version}
        br
        p #{text}
        br
        p Controller example (controllers/AnabelController): 
            a(href=Url.to(['/anabel/say'])) Speak with Anabel
  
